.notes-container{
    width: 100%;
    padding: 0px 1rem;
    text-align: center;
    overflow: hidden;
}

.notes-container-title h1{
    font-size: calc(1rem * 1.3);
    font-weight: 600;
}

.notes-card-container, .next-notes-section{
    height: 100%;
    margin: 10px auto;
    padding: calc(1rem * 0.1) calc(1rem * 0.3);
}