.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-container, .form-card, .icon, .footer-card, .signup-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding-top: 2rem;
    padding-bottom: calc(1rem * 0.5);
    flex-grow: 1;
}

.form-card {
    width: 20rem;
    height: 100%;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--gray);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.icon img{
    width: 10rem;
}

.icon h1{ 
    font-family: Pangolin, sans-serif;
    color: var(--black);
    font-size: calc(1rem * 1.8);
}

.text-field, .form-button{
    height: auto;
    width: 100%;
    padding-top: calc(1rem * 0.5);
    padding-bottom: calc(1rem * 0.5);
}

.text-field input{
    width: 98%;
    height: calc(1rem *2.4);
    padding-left: calc(1rem * 0.5);
    border-radius: 5px;
    background-color: var(--gray);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-field input::placeholder {
    color: var(--solid-gray)
}

.form-button button {
    width: 100%;
    height: calc(1rem *2.4);
    padding: calc(1rem * 0.5);
    border-radius: 5px;
    background-color: var(--purple);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    color: var(--white);
    border-radius: 10px;
    border: 1.092px solid var(--purple);
    box-shadow: 3px 3px 0px 0px #000;
}

.form-button button:hover {
    border: 1.092px solid var(--dark-purple);
    background-color: var(--dark-purple);
    cursor: pointer;
}

.section-separator{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: Roboto;
    font-size: calc(1rem * 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-separator hr{
    width: 100%;
    height: 1px;
    background-color: var(--solid-gray);
    border: none;
}

.section-separator span{
    margin: 0 1rem;
    color: var(--solid-gray);
}

.footer-card {
    font-family: Roboto;
}

.tiny-link {
    text-decoration: underline;
    color: var(--solid-gray);
    font-size: calc(1rem * 0.9);
    background: none;
}

.tiny-link:hover {
    color: var(--purple);
    cursor: pointer;
}

.signup-section {
    padding: calc(1rem * 0.8);
    font-family: Sora;
}

.signup-section {
    font-size: 1rem;
}

.signup-section p{
    color: var(--solid-gray);
}

.link {
    color: var(--purple);
    font-weight: 600;
}

.link:hover {
    color: var(--dark-purple);
    cursor: pointer;
}

.foot-banner {
    flex-shrink: 0;
}

.foot-banner img{
    width: 100%;
}