.screen{
    background-color: #f1f1f7;
}
.edit-profile{
    background-color: white;
    margin: 2% 20%;
    padding: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
}
.eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edition{
    background-color: #DEDEF0;
    display: flex;
    padding: 30px;
    margin: 20px;
    box-shadow: 4px;
}
.changes{
    margin-top: 20px;
    margin-bottom: 20px;
}

.eliminar button{
    color:white;
    background-color: black;
    height: 30px;
    width: 150px;
    border-radius: 15px;
}
