:root {
    --white: #fefefe;
    --black: #131E26;
    --gray: #f6f6f6;
    --solid-gray: #afafaf;

    --purple: #9284ec;
    --dark-purple: #6c63ff;
    --light-purple: #dedef0;
    --orange: #e8c6b7;
    --green: #b4dada;
    --yellow: #ece1b9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    pointer-events: none;
    user-select: none;
}