.form-container-alarm {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Extenderlo horizontalmente*/
.form-card-alarm {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--light-purple); 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Sora;
}

.bell-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.alarm-content {
  width: 100%;
  color: var(--black);
}

.alarm-content .time {
  text-align: center;
}

.alarm-content .time h1 {
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  margin-bottom: 1rem;
}

.alarm-content .alarm-text, .alarm-content .alarm-title {
  width: 90%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.alarm-content .alarm-title{
  font-weight: 600;
  margin-bottom: calc(1rem * 0.5);
}

.form-button-alarm button {
  width: 35%;
  height: calc(1rem * 4.5);
  padding: 1rem;
  font-size: 30px;
  font-family: Sora;
  font-weight: 600;
  color: var(--white);
  border-radius: 12px;
  background-color: var(--purple);
  box-shadow: 5.82px 7.761px 0px 0px var(--black);
}

.form-button-alarm {
  display: flex;
  justify-content: center;
}

.form-button-alarm button:hover {
  background-color: var(--black);
  box-shadow: 5.82px 7.761px 0px 0px var(--dark-purple);
  cursor: pointer;
}